* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #a78d76;
}
.logo {
    position: absolute;
    left: 460px;
    top: 136px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.headBar {
    margin: 0 auto;
    width: 100%;
    height: 96px;
    background: rgb(252,240,222);
    background: -moz-linear-gradient(top,  rgba(252,240,222,1) 0%, rgba(233,222,202,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,240,222,1)), color-stop(100%,rgba(233,222,202,1)));
    background: -webkit-linear-gradient(top,  rgba(252,240,222,1) 0%,rgba(233,222,202,1) 100%);
    background: -o-linear-gradient(top,  rgba(252,240,222,1) 0%,rgba(233,222,202,1) 100%);
    background: -ms-linear-gradient(top,  rgba(252,240,222,1) 0%,rgba(233,222,202,1) 100%);
    background: linear-gradient(to bottom,  rgba(252,240,222,1) 0%,rgba(233,222,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf0de', endColorstr='#e9deca',GradientType=0 );
    z-index: -1;
}
.butM1 {
    position: absolute;
    left: 12px;
    top: 96px;
    width: 138px;
    height: 48px;
    cursor: pointer;
}
.butM1Text {
    position: absolute;
    padding-top: 5px;
    text-align: center;
    width: 138px;
    height: 43px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #814b79;
    font-weight: bold;
}
.butM1:hover>.butM1Text {
    opacity: 0.8;
}
.disMenu {
    position: absolute;
    display: none;
    left: -1px;
    top: 48px;
}
.blockMenuP {
    position: relative;
    width: 138px;
    height: 48px;
    background: rgb(196,166,166);
    background: -moz-linear-gradient(top,  rgba(196,166,166,1) 1%, rgba(191,161,161,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(196,166,166,1)), color-stop(100%,rgba(191,161,161,1)));
    background: -webkit-linear-gradient(top,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    background: -o-linear-gradient(top,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    background: -ms-linear-gradient(top,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    background: linear-gradient(to bottom,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4a6a6', endColorstr='#bfa1a1',GradientType=0 );
    border: 1px solid rgb(222,210,192);
}
.butM1:hover>.disMenu {
    display: block;
}
.butM2 {
    position: absolute;
    left: 152px;
    top: 82px;
    width: 137px;
    height: 60px;
    background: url('../img/butMenu/but2.png');
    cursor: pointer;
}
.butM3 {
    position: absolute;
    left: 292px;
    top: 59px;
    width: 137px;
    height: 67px;
    background: url('../img/butMenu/but3.png');
    cursor: pointer;
}
.butM4 {
    position: absolute;
    left: 432px;
    top: 55px;
    width: 137px;
    height: 46px;
    background: url('../img/butMenu/but4.png');
    cursor: pointer;
}
.butM5 {
    position: absolute;
    left: 572px;
    top: 61px;
    width: 138px;
    height: 66px;
    background: url('../img/butMenu/but5.png');
    cursor: pointer;
}
.butM6 {
    position: absolute;
    left: 712px;
    top: 82px;
    width: 138px;
    height: 60px;
    background: url('../img/butMenu/but6.png');
    cursor: pointer;
}
.butM7 {
    position: absolute;
    left: 852px;
    top: 97px;
    width: 138px;
    height: 47px;
    background: url('../img/butMenu/but7.png');
    cursor: pointer;
}
.butM2:hover, 
.butM3:hover, .butM4:hover, 
.butM5:hover, .butM6:hover, .butM7:hover {
    opacity: 0.7;
}
.centerBlock {
    z-index: 2;
    margin: -96px auto 0 auto;
    width: 1000px;
    height: 600px;
}
.HeadUzor {
    position: absolute;
    left: 12px;
    top: 0px;
    background: url('../img/HeadUzor1.png');
    width: 975px;
    height: 90px;
}
.headBlock {
    position: relative;
    float: left;
    width: 1000px;
    height: 150px;
    z-index: 10;
}
.bodyBlock {
    position: relative;
    margin-top: 5px;
    float: left;
    width: 1000px;
    height: 350px;
}
.leftBlockBody {
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 190px;
    height: 270px;
}
.rightBlockBody {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: 190px;
    height: 274px;
}
.columnMenu {
    position: relative;
    margin: 15px;
    float: left;
    width: 158px;
}
.punktMenu {
    position: relative;
    float: left;
    width: 158px;
    height: 76px;
    margin-bottom: 5px;
    border: 2px solid rgb(242,230,212);
    background: rgb(196,166,166);
    background: -moz-linear-gradient(top,  rgba(196,166,166,1) 1%, rgba(191,161,161,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(196,166,166,1)), color-stop(100%,rgba(191,161,161,1)));
    background: -webkit-linear-gradient(top,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    background: -o-linear-gradient(top,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    background: -ms-linear-gradient(top,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    background: linear-gradient(to bottom,  rgba(196,166,166,1) 1%,rgba(191,161,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4a6a6', endColorstr='#bfa1a1',GradientType=0 );
}
.blockUzorUp {
    position: absolute;
    left: 3px;
    top: -35px;
    width: 154px;
}
.blockUzorD {
    position: absolute;
    left: 3px;
    bottom: -31px;
    width: 154px;
}
.imgLeftMemu {
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    margin: 14px 5px 5px 10px;
}
.textLeftMemu {
    position: relative;
    float: left;
    width: 93px;
    margin-left: 5px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #814b79;
    font-weight: bold;
    text-align: left;
}
.textLeftMemu:hover {
    opacity: 0.8;
    cursor: pointer;
}
.sladerBlock {
    position: absolute;
    left: 50%;
    top: 40px;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    background-color: white;
}
.maska {
    position: relative;
    float: left;
    width: 500px;
    height: 300px;
    background: url('../img/webA2.png');
}
.sladLB {
    position: absolute;
    left: 15px;
    top: 85px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.sladLB:hover>img {
    width: 60px;
    height: 60px;
    margin-top: 0px;
    margin-left: -2px;
}
.sladLB>img {
    margin-top: 2px;
    width: 56px;
    height: 56px;
}
.sladRB {
    position: absolute;
    right: 15px;
    top: 85px;
    width: 56px;
    height: 56px;
    cursor: pointer;
}
.sladRB:hover>img {
    width: 60px;
    height: 60px;
    margin-top: 0px;
    margin-left: -2px;
}
.sladRB>img {
    margin-top: 2px;
    width: 56px;
    height: 56px;
}
.sladLB div.alha {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('../img/sladLeft.png');
}
.sladRB div.alha {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('../img/sladRight.png');
}
.contentBlock {
    position: relative;
    margin-top: 5px;
    float: left;
    width: 1000px;
    height: 400px;
}
.contentBox {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 11px;
    padding-top: 14px;
    margin-bottom: 20px;
    width: 978px;
    background: #915f68;
}
.stilistBox {
    position: relative;
    float: left;
    margin-left: 12px;
    margin-bottom: 14px;
    width: 223px;
    height: 344px;
    background: rgba(0,0,0,0.05);
    border: 3px solid #e1b0bb;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}
.uzor_1 {
    position: absolute;
    left: 60px;
    top: -98px;
}
.uzor_2 {
    position: absolute;
    right: 60px;
    top: -98px;
}