html #header.header-semi-transparent, html #header.header-semi-transparent-light {

            min-height: 85px !important;

            width: 100%;

            background: rgba(0, 0, 0, 0.89);

            position: absolute;

            top: 0;

        }

        .page-header {margin-bottom: 0;     border-bottom: 5px solid #333333;}

        div.main { margin-top: 85px}

        #head-block {

            padding: 5em 0;

            background-image: url('/img/backgrounds/mount.jpg');

            background-size: cover;

            background-position: bottom center;

            background-repeat: no-repeat;

        }

        #head-block .h1 { font-size: 4em; font-weight: bold; }

        #head-block .h1 span {background: #e14e2a;padding: 0.18em 0.5em}

        #head-block .h4 span {background: #bc4123; padding: 0.4em 0.8em}

        #head-block p {

            color: #ffffff;

        }

        #head-block .form {

            background: rgba(0,0,0,0.66);

            padding: 1.5em 3em;

        }

        #head-block .list li {padding-left: 3em}

        #footer {margin-top: 0}





        /**/

        #context-advantages {

            background: #f2f2f2;

            margin-top: 5em;

        }



        #context-advantages .str{margin: 1em 0;}



        #context-audit{

            background: url('/img/audit/audit.jpg');

            background-repeat: no-repeat;

            background-size: cover;

        }

		

		

		#context-our-principles{

			margin: 3em 0;

		}

		#context-our-principles img {padding: 0 25%}

		#context-our-principles .context-principles-img{

			background: url('/img/context-princeples/prin.png');

			background-repeat: no-repeat;

			background-size: 50%;

			background-position-x: 50%;

			height: 39em;

			padding: 0 0em 0 4.5em;

		}

		#context-our-principles .h1{

			text-transform: uppercase;

		}



		#context-our-principles span{display: block;}



		#context-our-principles .path{

			font-weight: bold;

			font-size: 1.5em;

		}

		

		 #context-our-principles .path1{padding: 2.5em 0 0 4.5em}

		 #context-our-principles .path7{padding: 2.5em 0 0 11.5em}

		                                

		 #context-our-principles .path2{padding: 2em 0 0 1.5em}

		 #context-our-principles .path8{padding: 2em 0 0 15em}

		                                

		 #context-our-principles .path3{padding: 3.5em 0 0 0}

		 #context-our-principles .path9{padding: 3.5em 0 0 17em}

		                                

		 #context-our-principles .path4{padding: 3.5em 0 0 0}

		#context-our-principles .path10{padding: 3.5em 0 0 17em}

		                                

		 #context-our-principles .path5{padding: 3em 0 0 1em}

		#context-our-principles .path11{padding: 3.5em 0 0px 16em}

		                                

		 #context-our-principles .path6{padding: 3em 0 0 4.5em}

		#context-our-principles .path12{padding: 3.5em 0 0 12em}



        #context-audit strong{color: red;}

        #context-audit .h2{color: #fff;margin: 0.5em 0;}

        #context-audit p{color: #fff;margin: 0.5em 0;}

        #context-audit .audit-text{color: #fff;margin: 0.5em 0;}

        #context-audit button{}

        #context-audit .context-btn > button{

            font-size: 1.7em;

            border: solid 0.2em rgba(128, 128, 128, 0.65);

            margin: 2em 0em 2em 1em;

        }

		

		#our-case .row{margin: 0.5em 0}

        #our-case .title strong {color: #14acda}

        #our-case .row {padding: 0.5em;}

        #our-case .context-title {padding: 1em 0 0 0;}



		/*двойное подчеркивание заголовка*/

        #our-case .context-title::before, #our-case-full-analitic .context-title::before {

			content: "";

			position: absolute;

			border-top: solid 1px grey;

			border-bottom: solid 1px grey;

			width: 90%;

			height: 0.2em;

			left: 0px;

			bottom: 0.5em;

		}

        #our-case .our-case-link {color: #14acda;text-decoration: none;}



		/*подчеркивание названия сайта*/

		#our-case .our-case-link::after{

			content: "";

			position: relative;

			display: block;

			border: solid 1px;

			width: 10em;

			margin: 0.5em 1.5em;

		}



		#our-case .our-case-link:hover {color: rgba(20, 172, 218, 0.69);}

        #our-case .content {margin-top: 3em;}

        #our-case .content strong{}

        #our-case .img {border: solid 0.1em darkgrey;}

		

		#our-case-full-analitic .row{margin: 0 1em}

		#our-case-full-analitic {background: #f2f2f2;}

		#our-case-full-analitic .title strong {color: #14acda}

		#our-case-full-analitic .context-title {padding: 1em 0 0 0;}

		#our-case-full-analitic .our-case-link {

			color: #14acda;

			text-decoration: none;

			font-weight: bold;

			font-size: 1.5em;

			text-transform: uppercase;

		}



		#our-case-full-analitic .our-case-link:hover {color: rgba(20, 172, 218, 0.69);}

		#our-case-full-analitic .img {border: solid 0.1em darkgrey;}

		#our-case-full-analitic .grafics-preview{margin: 3em 0}

		#our-case .val{margin: 0.5em 0;}

		#our-case .val span{

			float: right;

			margin: 0 12em 0 0;

		}



		#our-case-full-analitic .analitic-title{

			background: #13abda;

			text-transform: uppercase;

			color: #fff;

            padding: 0.3em 0;

			font-weight: bold;

		}



	#our-case-full-analitic .analitic-all-red{

			background: red;

			color: #fff;

		}



        #our-case-full-analitic .analitic-all-red .title-red{

            padding: 0 1.5em;

        }

        #our-case-full-analitic .analitic-all-red span{

			display: inline-block;

			width: 10em;

			margin: 0 2em;

		}



		#our-case-full-analitic .analitic-all-value span{

			color: red;

			font-size: 1.5em;

			padding: 3.2em;

			font-weight: bold;

		}



		/*АНАЛИТИКА картинки слайдшоу*/

		/*главная превьюшка*/

        #our-case-full-analitic .analitic-img-main{}

        #our-case-full-analitic .analitic-img-mini{padding: 1em;}

		#our-case-full-analitic .analitic-img-main > img{

			width: 100%;

		}

		

		/*маленькие превьюшки*/

		#our-case-full-analitic .analitic-img-mini .mini-preview, .preview-center{

			width: 10em;

		}

		

		/*маленькая превьюшка в центре*/

		#our-case-full-analitic .preview-center{

			width: 15em;

			padding: 0 2.5em;

		}

		

		#context-client{margin: 3em 0}

		#context-client .h1{text-transform: uppercase}

		

		#context-client strong{color: #13abda;}

		#context-client .context-client-img{padding: 0 0 0 4em;}

		#context-client .context-client-img > img{margin: 0 1em 0 0}



		

@media all and  (max-device-width: 1200px) {

	#head-block .h1 span {line-height: 1.7em}

	#context-advantages .str p{padding:0 0 0 1.5em}



	#our-case-full-analitic .preview-center{	

		padding: 0 0.5em 0 0.5em;

		width: 10em;

	}

	#our-case-full-analitic .analitic-img-mini .mini-preview{

		width: 9em;

	}

	#our-case-full-analitic .analitic-value strong{

		padding: 0 0 0 8em;

	}

			

		 #context-our-principles .path1{padding: 1.5em 0 0 4.5em}

		 #context-our-principles .path7{padding: 1.5em 0 0 11.5em}

		                                

		 #context-our-principles .path2{padding: 2em 0 0 1.5em}

		 #context-our-principles .path8{padding: 2em 0 0 14em}

		                                

		 #context-our-principles .path3{padding: 2.5em 0 0 0}

		 #context-our-principles .path9{padding: 2.5em 0 0 15em}

		                                

		 #context-our-principles .path4{padding: 3.5em 0 0 0}

		#context-our-principles .path10{padding: 3em 0 0 15em}

		                                

		 #context-our-principles .path5{padding: 2.5em 0 0 1.5em	}

		#context-our-principles .path11{padding: 3em 0 0px 14em}

		                                

		 #context-our-principles .path6{padding: 3em 0 0 4.5em}

		#context-our-principles .path12{padding: 2em 0 0 11.5em}



}

@media all and  (max-device-width: 990px) {

	#context-our-principles .context-principles-img{background: none; height: auto}

	#context-our-principles .path{padding: 1em 0;text-align: center}



	#our-case .context-title::before, #our-case-full-analitic .context-title::before{bottom: 0}

	#our-case .our-case-link::after{margin: 0.3em 0 0 1em;}

}

@media all and  (max-device-width: 496px) {

		

}