html #header.header-semi-transparent, html #header.header-semi-transparent-light {
    min-height: 85px !important;
    width: 100%;
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    top: 0;
}
div.main { margin-top: 85px}

.page-header {
    margin-bottom: 0;
    border-bottom: 5px solid #333333;
}