@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

html #header.header-semi-transparent, html #header.header-semi-transparent-light {

    min-height: 85px !important;

    width: 100%;

    background: rgba(0, 0, 0, 0.89);

    position: absolute;

    top: 0;

}



.block-title{



}

.text-orange{color: #FF7302;}

.text-white{color: #fff;}

.text-default{color: #000;}

.bg-orange{background: #FF7302;}

.bg-red{background: #F42B00;}

.strong{font-weight: bold;}



.h6{font-size: 0.8em}

#context{

    padding-bottom: 3em;

}

#contexter{margin-top: 85px;}

div.main{margin-top: 85px;}

section{position: relative;}



.rabica{

    background: url('/content/services/img/texture_1.png');

}

.setka{

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    background: url('/content/services/img/texture_1.png');

}





#head-block{

    background: url('/content/services/img/bg-2.jpg');

    background-repeat: no-repeat;

    background-size: cover;

    padding: 5em 0;

}



.ya-goo{

    background: url('/content/services/img/ya-goo.png');

    background-repeat: no-repeat;

    padding: 1em 10em;

    background-position: 51% 0;

}

.ya-goo > span{

    text-shadow: 1px 1px 0 #000;

}



.cirsules{position: relative;}

.str1{}

.str2{margin: -3.5em -2.5em;}

.str3{

    padding-left: 3.6em;

    margin-top: 3em;

}

.circle{

    width: 9em;

    border-radius: 5em;

    height: 9em;

    padding: 2.5em 1em;

    text-align: center;

    display: inline-flex;

}

.circle1{margin-left: 8em;}

.circle2, .circle3{margin: 0 1em 0 3.6em;}

.circle4, .circle5{margin-left: -0.3em;}

.circle3{}

.zayav{

    margin-top: 5px;

    margin-bottom: 0;

}

.headercallback{

    padding: 0 5em;

    position: relative;

}

#headercallback{

    background: #fff;

    border-radius: 1em;

    padding: 4em 1em 2em 1em;

}

.orangeinput{

    border: 3px solid #ff7302;

    margin: 0.5em 0;



    background-color: transparent;

    text-align: center;

}

.w80{

    width: 95%;

}



#context-advantages{background: #f2f2f2; padding: 1em 0;}

#context-advantages img{float: left; margin-right: 1em;}

#context-advantages .text{margin-left: 8em;}

#context-advantages .block{margin-top: 4em;}



#context-our-principles{height: 50em;}

#context-our-principles .block{

    position: relative;

}

.img-center{

    padding-left: 25%;

    width: 59em;

}



#context-our-principles .path{

    position: absolute;

    max-width: 25em;

}



.path1{margin: 2em 0 0 11em;}

.path2{margin: 7em 0 0 5em;}

.path3{margin: 13em 0 0 -1em;}

.path4{margin: 19em 0 0 12em;}



.path5{margin: 25em 0 0 -3em;}

.path6{margin: 30em 0 0 1em;}

.path7{margin: 2em 0 0 10em;}

.path8{margin: 8em 0 0 15em;}



.path9{margin: 14em 0 0 17em;}

.path10{margin: 21em 0 0 17em;}

.path11{margin: 27em 0 0 15em;}

.path12{margin: 32em 0 0 11em;}



#context-audit{

    background: url('/content/services/img/audit.jpg');

    background-repeat: no-repeat;

    background-size: cover;

}

#context-audit>.rabica{

    padding: 3em 0;

}

#context-audit .text{padding: 0 10em;}

#context-audit .btn-callback{

    text-transform: none;

    border: solid 0.2em rgba(128, 128, 128, 0.65);

}





#caseqweqwe td{padding: 0.2em 0}

#caseqweqwe .title,

#caseqweqwe .value

{color: #2e2e2e;}



#caseqweqwe .value{font-size: 1.5em}



#caseqweqwe .result{margin-top: 1em}

#caseqweqwe .title{width: 11em;}



#partners{padding: 0em 0 4em 0;}

#partners .block{margin: 1em 0;}

#partners img{width: 200px;}

.partners-img{

    height: 12em;

}





#tarif{background: #ececec;}

#tarif table{width: 100%;}

#tarif td{border: solid 1px #f1f1f1;padding: 0.5em 0.5em}

#tarif .title_first{

    background: #c5c5c5;

    width: 21em;

    padding: 0.3em 0em;

}

#tarif .title{background: #14acda;width: 8em;font-size: 1.2em}



.true,

.true

{border-radius: 1em;padding: 0.5em}

.true{background: #14acda;}

.false{background: #C5C5C5;

padding: 5px;

border-radius: 50px;}

#tarif .line {background: #fff;}



#campany{background: #ececec;}

#campany .count{}





#what-tarif{background: url('/content/services/img/bg2.jpg'); background-size: cover;}

#what-tarif .btn-what-tarif, #form .btn-what-tarif{

    padding: 0.8em 1.4em;

    font-size: 1.2em;

    outline: 5px solid rgba(255,255,255,0.2)!important;

    margin: 1.5em 0;

}

#what-tarif>.rabica{

    padding: 3em 0 1em 0;

}



#sales-explosion{padding: 3em 0;    font-family: 'Roboto Condensed';}

#sales-explosion .text{

    font-size: 1.5em;

    padding: 0 10em;

    margin: 0;

}



#service-count{background: #f2f2f2; padding-bottom: 4em;}

#service-count ul {

    list-style-image: url('/content/services/img/check.png');

}

#service-count p.line:before{

    content: '';

    position: relative;

    display: inline-block;

    background: #ff7302;

    width: 8px;

    height: 8px;

    border-radius: 20px;

}

#service-count p.line:after{

    content: '';

    position: relative;

    display: inline-block;

    border: dashed 1px;

    width: 20em;

    margin-left: 0.5em;

}





.day{position: relative;    display: inline-block; margin-top: 5em}

.day > p{font-size: 3em;    font-weight: bold;}

.day::before{

    content: '[';

    left: -1em;

}

.day::after{

    content: ']';

    right: -1em;

}

.day::before,

.day::after{

    position: absolute;

    top: 0;

    font-size: 6em;

    font-weight: bold;



}



.day1::before,

.day1::after

{color: #9BC32F;}



.day2::before,

.day2::after

{color: #14ACDA}



.day3::before,

.day3::after

{color: #FF7302;}



.about-day{background: #F2F2F2;padding: 0.5em 0 0.5em 1em}

.about-day> p{margin: 1em 0; line-height: 2.5em;}

.num{ padding: 1em;margin-right: 1em;}

.num1{background: #9BC32F}

.num2{background: #14ACDA}

.num3{background: #FF7302}







#partners-prorgamm{padding-bottom: 2em;}

#partners-prorgamm .text  {margin: 1em 0;}

#partners-prorgamm ul{padding: 0 1em;}

.btn-partners{padding: 0.5em 5em;}



#map{

    margin-bottom: 2em;

    overflow: hidden;

    height: 500px;

}



#map .block{

    background: #fff;

    padding: 1em 0;

    margin: 2em 0;

}

.map{position: absolute;}





#form{}

#form ul{list-style: none; padding: 0}

#form li::before{content: '- ';}



.btn-form-call{

    padding: 2em 10em;

    margin: 6em 0 0 0;

}



@media all and  (max-device-width: 1200px) {

    .img-center{

        padding-left: 25%;

        width: 54em;

    }



    .path1{margin: 2em 0 0 7em;}

    .path2{margin: 7em 0 0 1em;}

    .path3{margin: 13em 0 0 -5em;}

    .path4{margin: 19em 0 0 8em;}



    .path5{margin: 25em 0 0 -7em;}

    .path6{margin: 30em 0 0 -2em;}

    .path7{margin: 2em 0 0 13em;}

    .path8{margin: 8em 0 0 17em;}



    .path9{margin: 13em 0 0 19em;}

    .path10{margin: 20em 0 0 19em;}

    .path11{margin: 26em 0 0 17em;}

    .path12{margin: 31em 0 0 13em;}



    .btn-form-call {

        padding: 2em 8em;

    }

    #sales-explosion .text{

        padding: 0 4em;

    }



}



#context-advantages .h1, #tarif .h1, #campany .h1, #service-count .h1{

    background-color: #f2f2f2;

}



@media all and  (max-device-width: 990px) {

    .ya-goo{padding: 1em 4em}

    .str3{margin-bottom: 2em;}





    .img-center{

        padding-left: 25%;

        width: 40em;

    }

    .path{width: 20em}

    .path1{margin: 2em 0 0 2em;}

    .path2{margin: 5em 0 0 -3em;}

    .path3{margin: 9em 0 0 -8em;}

    .path4{margin: 14em 0 0 5em;}



    .path5{margin: 18em 0 0 -7em;}

    .path6{margin: 22em 0 0 -3em;}

    .path7{margin: 2em 0 0 44em; font-size: 0.8em;}

    .path8{margin: 5em 0 0 38em}



    .path9{margin: 9em 0 0 40em;}

    .path10{margin: 14em 0 0 40em;}

    .path11{margin: 18em 0 0 39em;}

    .path12{margin: 22em 0 0 36em;}



    #context-audit .text{

        padding: 0 4em;

    }



    #sales-explosion .text{

        padding: 0;

    }

    .day{margin-bottom: 5em;}

    #formDirection::before {

        content: 'СНИЗУ,';

        position: absolute;

        background: #fff;

        display: none;

        padding: 0 0.5em;

    }

}

@media all and  (max-device-width: 738px) {}

@media all and  (max-device-width: 576px) {}

@media all and  (max-device-width: 496px) {}

.h1{

    font-size: 3em;

}

.h5{

    font-size: 1.2em;

}

.targets{

    padding: 2em;

    margin-bottom: 1em;

    background-color: #fff;

}

.targets p{

    margin-bottom: 10px;

}

.h1-margin{

    margin: 4em 0 !important;

}

.zag{

    margin-bottom: 0;

    font-size: 1.3em;

    font-weight: bold;

}

#context img{

    position: relative;

    left: 3.5em;

}

#slider{

    padding: 0 2em;

}

.form{

    text-align: center;

}

.case-table{

    width: 100%;

}

.case-table td:first-child{

    width: 60%;

}

.case-table .h3{

    font-size: 1.3em;

    line-height: 33px;

}

.form .input{

    padding: 15px;

    border: 1px solid #777777;

    margin-bottom: 1em;

    width: 100%;

    max-width: 400px;

}

.btn-form{

    width: 100%;

    padding: 15px;

    background-color: #dc372d;

    color: #fff;

    max-width: 400px;

    font-weight: bold;

}

#callbackModalContext .modal-content, #callbackModalContext .modal-header{

    padding: 15px 30px;

}

#callbackModalContext .modal-sm{

    width: 400px;

}

.imgcenter{

    margin: 0 auto;

}

.gray-color{

    color: #777777 !important;

}

.bluea{

    color: #2492da;

    text-decoration: underline;

}

.slick-dots li button:before{

    font-size: 37px;

}

.cont1_t2 {
    position: absolute;
    z-index: 9;
    top: 60px;
    left: 75px;
    width: 69px;
    height: 249px;
    background: url(../img/ico1.png) no-repeat center center;
}
.block-copy-br ul {
    margin: 0;
    padding: 0;
    padding-left: 150px;
    padding-top: 60px;
}
.block-copy-br ul li {
    list-style: none;
    font-size: 16px;
    color: #fff;
    line-height: 86px;
}