

.faded-blocks .item {
    display: block;
    text-align: center;
    padding: 15em;
    position: relative;
    background-size: 100%;
    background-position: center center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
}
.faded-blocks .item:hover {
    background-size: 120%;
}

.faded-blocks .item .fade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}

.faded-blocks .item:hover .fade {
    background: rgba(0,0,0,0.6);
}

.faded-blocks .item .title {
    color: white;
    font-weight: 800;

}