.tabs.tabs-simple .nav-tabs.small > li a {
    padding: 0px 11px 5px 11px;
    font-size: 14px;
}
#howwework {position: relative}
#howwework p.heading {
    position: absolute;top: -14px;margin-left: 15%;
}
.mockup-landing-page {margin-top: -60px !important;}

.index-h2{color: #777;}