html #header.header-semi-transparent, html #header.header-semi-transparent-light {
    min-height: 85px !important;
    width: 100%;
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    top: 0;
}
.page-header {margin-bottom: 0;     border-bottom: 5px solid #333333;}
div.main { margin-top: 85px}
#head-block {
    padding: 5em 0 5em 0;
    background-image: url('/img/backgrounds/ecommerce_compressed.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}



#head-block .h1 {
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    line-height: 1.365em;
}

#head-block .h1 span {
    display: inline;
}
#head-block .h1 span.sub {
    font-size: 0.6em;
    padding: 13px 15px;
    line-height: 1;
}

#head-block .h1 span {background: #237f22;     padding: 13px 15px;}
#head-block .h4 span {background: #bc4123; padding: 0.4em 0.8em}
#head-block p {
    color: #ffffff;
}
#head-block .form {
    background: rgba(0,0,0,0.66);
    padding: 1.5em 3em;
}
#head-block .list li {padding-left: 3em;}
#footer {margin-top: 0}


.td-about{width: 450px;}
.td-count{width: 250px;}
.title-h6 {display: inline-block;}
.strong-h1{font-weight: bold;}

.promo-cart {
    background: white;
    padding: 20px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 0 5px 5px;
}

.promo-cart:after {
    border-top: 20px solid rgba(189, 149, 146, 0);
    border-left: 97px solid rgb(255, 255, 255);
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: -20px;
    width: 7px;
}