.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background: #f45c57;
    border: red;
}
.sort-source a {
    font-weight: bold;
    display: block;
}
.sort-source > li.active > a {
    color: white;
    text-shadow: 0 2px 5px rgba(0,0,0,0.66);
}

.sort-source .list-group-item {
    padding: 0;
}

body {

}