#body{padding-top: 6.1em;}
.page-header{
    margin: 0;
}
#headerBack{
    position: absolute;
    top: 0;
    background: #000;
    z-index: 1;
    width: 100%;
    height: 7em;
}
#promo{
    background: url('/img/backgrounds/Sea-Water-Waves-Nature.jpg') no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    padding: 3em 0;
}
#promo p, #promo strong{color: #000}
#promo .col-md-4{
    padding: 0;
}
#promo .heading {font-weight: bold}
.promoBlock{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    position: relative;
    height: 12.4em;
}
.promoBlock1{background: #777777;}
.promoBlock2{background: #999999;}
.promoBlock3{background: #BBBBBB;}
.promoBlock4{background: #9A9A9A;}
.promoBlock5{background: #BBBBBB;}
.promoBlock6{background: #c7c7c7;}
.promoBlock > i{
    font-size: 3em;
    text-align: center;
    width: 100%;
    padding: 0.3em 0;
}
.promoBlock > p{
    padding: 0 0.3em;
    text-align: center;
}
.promoBlock6{overflow: hidden;}
.promoBlock6 > p > a{
    text-decoration: none;
    color: #000;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0em;
    left: 10%;
    right: 10%;
    padding: 5em 0em;
}
.promoBlock6 > p{    padding: 0 0.3em;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 0;
    padding-top: 5em;}
.promoBlock6 > p > a::after{
    content: 'Посмотреть наши кейсы';
    background: #FF6400;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: -1.5em 0em;

    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -em-transition: 0.5s;
    -ms-transition: 0.5s;
}
.promoBlock6:hover{
    cursor: pointer;
}
.promoBlock6:hover > p >a::after{
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -em-transition: 0.5s;
    -ms-transition: 0.5s;
}
i.anim{
    transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -em-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);

    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -em-transition: 0.5s;
    -ms-transition: 0.5s;
}
.promoBlock6:hover > i{
    transform: rotate3d(0, 1, 0,360deg);
    -o-transform: rotate3d(0, 1, 0, 360deg);
    -moz-transform: rotate3d(0, 1, 0, 360deg);
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    -em-transform: rotate3d(0, 1, 0, 360deg);
    -ms-transform: rotate3d(0, 1, 0, 360deg);

    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -em-transition: 0.5s;
    -ms-transition: 0.5s;
}
#promo .h1{font-size: 1.5em}
#promo .col-md-5 {padding: 4em 5em;}
#promo img{margin: 0 -0.2em;width: 15.6em;}
#promo .path6{}
#call-back{}
#call-back .form-call-back input,
#call-back .form-call-back button{
    display: block;
    margin: 1em;
    height: 3em;
    width: 95%;
}
#call-back .row{margin: 0.5em 0}
#call-back .btn-warning,
#services .btn-warning,
#strategy .btn-warning,
#our-templates .btn-warning{background: #ff6400;}
#services .about{display: none;}
#services{color: grey;}
#services p.h3{padding: 0 1em;}
#services span.span-services{font-size: 4em; padding: 0.5em;}
#services span.span-TOP{
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -em-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
#services .block > a{color: grey}
#services .block > a:hover{text-decoration: none;}
#services .block > a:hover .text{color: grey}
#services .block > a:hover .h3{color: #ff6400}
#services .block > a:hover .span-services{color: #ff6400}
#services .block > a:hover button{color: #fff;background: #ff6400}
#services .other-service{padding: 1em}
#services #serviceSlide{
    display: none;
}
#pluse{color: grey}
#pluse .row{padding-bottom: 0.5em}
#pluse span{font-size: 5em;}
#pluse .block:hover{color: #ff6400}
#cases{padding: 3em 0;}
#cases .h1{text-transform: uppercase; padding: 1em 0;}
#cases img{width: 25em;}
#cases span{
    background: url('http://turboseo.net.ua/img/link_icon.png');
    width: 2em;
    height: 2em;
    margin: 1em auto;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
#cases p.title-1, #cases p.title-2{
    margin-bottom: 2em;
}
#pluse span{padding: 0.5em 0;}
#strategy{background: darkgrey;    padding-bottom: 3em;}
#strategy .text-center{padding: 1em 0 0 0;}
#strategy ul {list-style: none;}
#strategy ul span{font-weight: bold;}
#myCarousel{}
#myCarousel .item{
    margin-top: 2em;
    min-height: 23em;
}
#myCarousel label:hover{
    background: burlywood;
}
#myCarousel .btn1{background: rgba(255, 100, 0, 1);}
#myCarousel .btn2{background: rgba(255, 100, 0, 0.8);}
#myCarousel .btn3{background: rgba(255, 100, 0, 0.6);}
#myCarousel .btn4{background: rgba(255, 100, 0, 0.4);}
#myCarousel .btn5{background: rgba(255, 100, 0, 0.2);}
#myCarousel .btn6{background: rgba(255, 100, 0, 0);}
#myCarousel h1 p{color: #000}
#myCarousel .carousel-caption{
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 0;
    text-align: left;
}
#myCarousel .carousel-inner{
}
#myCarousel .seo-carusel{
    list-style: none;
}
.seo-carusel label{
    width: 12em;
}
label::after{
    content: '';
    position: absolute;
    top: 2.4em;
    width: 10px;
    height: 10px;
    background: red;
    border-top: solid 10px #EB9316;
    border-left: solid 10px darkgrey;
    border-right: solid 10px darkgrey;
    display: none;
}
input:checked + label{
    color: red;
}
#myCarousel .seo-carusel li{
    display: inline-block;
}
#myCarousel .seo-list{
    margin-left: -2em;
}
#myCarousel .seo-list > li{
    display: inline-block;
    margin: 0 1em;
    font-size: 1.5em;
    text-shadow: none;
}
#myCarousel .seo-list > li > p{
    color:#000;
}
#our-templates .our-templates{
    background: url('https://seosolution.ua/templates/t3_blank/images/package-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#our-templates span.icon{
    font-size: 4em;
    margin: 0.5em 0;
    color: #fff;
}
#our-templates .our-templates-title{padding-top: 2em;}
#our-templates .our-templates-title:first-child {
    padding: 1em 0;
    margin: 3em 0 0 0em;
    color: #fff;
    background: rgba(255, 255, 255, 0.52)
}
#our-templates .our-templates-title:first-child .h1{color:grey}
#our-templates .our-templates-title:first-child .h2{color:grey}
#our-templates .our-templates-title .h1{padding: 0 0;margin: 0;color: #fff}
#our-templates .our-templates-title .h2{padding: 0 0;margin: 0;color: #fff}
#our-templates .our-templates-about span{}
#our-templates .our-templates-about p{color:#fff;}
#our-templates .our-templates-btn{padding-left:4em; margin-top: 1em;}
#adventages{color: grey;}
.adventages-title1, .adventages-title2, .adventages-title3{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
}
.adventages-content1, .adventages-content2, .adventages-content3{
    background: grey;
    color: #fff;
    padding: 0.5em 1em;
    height: 8em;
}
.adventages-content1::before{
    content: '';
    position: relative;
    display: inline-block;
    background: aliceblue;
    border-left: solid 10px #fff;
    border-right: solid 10px #fff;
    border-top: solid 10px #fff;
    border-bottom: solid 10px grey;
    top: -1.9em;
    left: 9em;
}
.adventages-content2::before{
    content: '';
    position: relative;
    display: inline-block;
    background: aliceblue;
    border-left: solid 10px #fff;
    border-right: solid 10px #fff;
    border-top: solid 10px #fff;
    border-bottom: solid 10px grey;
    top: -1.9em;
    left: 9em;
}
.adventages-content3::before{
    content: '';
    position: relative;
    display: inline-block;
    background: aliceblue;
    border-left: solid 10px #fff;
    border-right: solid 10px #fff;
    border-top: solid 10px #fff;
    border-bottom: solid 10px grey;
    top: -1.9em;
    left: 9.5em;
}
#partners{}
#partners .col-md-4{
    overflow: hidden;
    height: 12em;
}
#partners img{
    width: 200px;
    margin: 2em auto;
}
@media all and  (max-width: 1200px){
    .adventages-content1::before,
    .adventages-content2::before,
    .adventages-content3::before{
        display: none;
    }
    #myCarousel .seo-list > li{
        font-size: 1em;
        margin: 0;
    }
}
@media all and  (max-width: 992px){
    .seo-carusel{

    }
}
@media all and  (max-width: 768px){

}
@media all and  (max-width: 970px){}
@media all and  (min-width: 768px){}