#me {
    background: url('/img/personal-alex/me.JPG') no-repeat;
    background-size: contain;
    background-color: black;
    background-position: top center;
    padding: 15em 0 20em 0;
    height: 95vh;
}

#me * {
    color: white;
}