#first_container {
    background-image: url("/img/video_security/headerbg_mCPEbvx.png");
    background-size: cover;
}
.del-margin-bot{
    margin-bottom: 0;
}
.text-black{
    color: black;
}
.white-text{
    color: white;
}
.black-opacity-bg{
    background-color: rgba(0,0,0,0.5);
}
.dark-black-opacity-bg{
    background-color: rgba(0,0,0,0.9);
}
.font-size1_2em{
     font-size: 1.2em;
 }
 .padding2em{
     padding: 2em;
 }
 .text-shadow, .white-title{
     text-shadow: rgb(0, 0, 0) 1px 1px 2px;
 }
 .font-size2em{
     font-size: 2em;
 }
 .white-opacity-bg{
     background-color: rgba(255,255,255,0.5);
 }
.position-absolute{
    position: absolute;
}
.min-width408px{
    min-width: 408px;
}
.black-title{
    font-size: 33px;
    font-family: sans-serif;
    font-weight: 800;
    line-height: 50px;
    color: #000;
}
.left-line{
    border-left-style: solid;
    border-left-color: #0088cc;
    border-left-width: 5px;
    padding-left: 25px;
}
.padding10px {
    padding: 10px;
}
.border-radius5px{
    border-radius: 5px;
}
.white-title{
    line-height: 36px;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 700;
}

#first_form input, #callback_form input{
    background-color: transparent /*rgba(0,0,0,0)*/;
    color: white;
    /*padding: 0 5px !important;*/
}
#first_form input::-webkit-input-placeholder {color:#A9A9A9;}
#first_form input::-moz-placeholder          {color:#A9A9A9;}
#first_form input:-moz-placeholder           {color:#A9A9A9;}
#first_form input:-ms-input-placeholder      {color:#A9A9A9;}

#for{
    background-image: url("/img/video_security/section-03-bg1.jpg");
    background-position: center top;

}
.grey-opacity-bg{
    background-color: rgba(150,150,150,0.5);
}
.angle-border{
    background-image:
        url(/img/video_security/border/lt.png),
        url(/img/video_security/border/rt.png),
        url(/img/video_security/border/rb.png),
        url(/img/video_security/border/lb.png);
    background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
.width4em{
    width: 4em;
}
.font-size2_2em{
    font-size: 2.2em;
}
#watchman{
    background-color: #F5F5F5;
}
.push-top2em{
    margin-top: 2em;
}
#smart_system{
    background-image: url("/img/video_security/smart_system/bg.png");
    background-position: center top;
    margin-top: -4.3em;
    padding-bottom: 2em;
}
#getting{
    background-image: url("/img/video_security/gettingbg.jpg");
    background-position: center top;
}
.right47_5pr{
    right: 47.5%;
}
#special_offer{
    background-image: url("/img/video_security/special_offer_bg.jpg");
    background-position: center top;
}
#solve_problems{
    background-image: url("/img/video_security/solve_problems_bg.jpg");
    background-position: center top;
    padding-bottom: 2em;
    padding-top: 2em;
}
.form_top-bot_margin{
    margin-top: 4em;
    margin-bottom: 1.2em;
}
.push-top10em{
    margin-top: 10em;
}
.font-size3em{
    font-size: 3em;
}
.push-top4em{
    margin-top: 4em;
}
.push-top2_5em{
    margin-top: 2.5em;
}
.push-bottom7em{
    margin-bottom: 7em;
}
.head-push-top-1em_bordered{
    border: 2px solid #0088cc;
    padding: 10px;
    background-color: white;
    margin-top: -1em;
}
.del-left-padding{
    padding-left: 0;
}
.push-bot1_618em{
    margin-bottom: 1.618em;
}
.push-top6em{
    margin-top: 6em;
}
.margin-left2em{
    margin-left: 2em;
}
.margin-right2em{
    margin-right: 2em;
}
.push-top3_2em{
    margin-top: 3.2em;
}
.push-top3_7em{
    margin-top: 3.7em;
}
.push-top6em{
    margin-top: 6em;
}
.push-top12em{
    margin-top: 12em;
}
.push-bottom14em{
    margin-bottom: 14em;
}
.push-top5em{
    margin-top: 5em;
}
.push-top-13_3em{
    margin-top: -13.3em;
}
#report{
    padding-bottom: 2em;
}
.push-top-10em{
    margin-top: -10em;
}
.border-primary, .border-primary:focus{
    border: 1px solid #0088cc;
}
.border-red{
    border-color: red;
}
.zindex100{
    z-index: 100;
}
.position-fixed{
    position: fixed;
}
.left-margin35pr{
    margin-left: 35%;
}
#first_form input,#callback_form input{
    padding-left: 3em;
}
#first_form .form_icon, #callback_form .form_icon{
    position: absolute;
    color: #0088cc;
    margin-top: 0.4em;
    margin-left: 0.6em;
}
.push-bot0_3em{
    margin-bottom: 0.3em;
}