* {
    margin: 0px;
    padding: 0px;
}
#head {
    padding: 5px;
    width: 100%; 
    background: #aaf;
    margin-bottom: 25px;
}
#head a {
    color: #ffffff;
    background: #1155cc;
    padding: 3px 8px;
    margin: 5px;
    text-decoration: none;
}
#head span {
    margin-left: 40px;
    font-size: 20px;
}
#form_box_1 {
    width: 260px;
}
#form_box_2 {
    width: 450px;
}
label {
    width: 120px;
    float: left;
    text-align: right;
}
input[name="date_created"], input[name="date_order"], input[name="client_name"], input[name="order_status"], input[name="client_status"], select {
    width: 120px;
    margin-left: 10px;
    float: left;
}
input[name="address"] {
    width: 220px;
    margin-left: 10px;
    float: left;
}
input[type="submit"] {
    margin-left: 270px;
    padding: 3px 8px;
}
textarea {
    width: 220px;
    height: 80px;
    margin-left: 10px;
    float: left;
}