* {
    padding: 0px;
    margin: 0px;
    color: blue;
    font-size: 17px;
    font-family: "Times New Roman";
}
#block_avtor {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #ddddff;
}
.head {
    padding: 5px 5px 5px 65px;
    font-size: 23px;
}
label {
    width: 100px;
    float: left;
    text-align: right;
}
input[type=text], input[type=password] {
    width: 150px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    text-align: center;
}
input[type=submit] {
    float: right;
    margin: 5px;
    padding: 3px 8px;
}
.error {
    background: #ffbbaa;
    margin: 5px;
    float: right;
    padding: 5px;
    text-align: center;
    color: red;
}