* {
    margin: 0px; 
    padding: 0px;
    font-family: "Times New Roman";
}
a {
    text-decoration: none;
    color: black;
}
table {
    max-width: 1000px; 
    border-collapse: collapse; 
    margin: 5px;
}
table tr td,table tr th { 
    padding: 4px 8px; 
}
#head {
    padding: 5px;
    width: 100%; 
    background: #aaf;
}
#telo {
    width: 1150px;
}
#telo div {
    float: left;
}
#menu_st {
    width: 135px;
}
.st {
    width: 130px;
    margin: 5px;
    text-align: center;
    background: #ddddff;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.gst {
    width: 130px;
    margin: 5px;
    text-align: center;
    background: #ccccff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.upd, .del, .upd_u, .del_u, .addz, .addu {
    background: #ddddff;
    padding: 4px 8px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
}

tr.new td {background: white;}

tr.active td {background: #C2FEC2 ;}

tr.done td {background: #0080FF;}

tr.cancelled td {background: gray ; color: white;}
