#site-content {
    font-size: 0.95em;
}

#site-content table .centered button {
    margin: 0;
    padding: 3px 2px 2px 2px;
}

#site-content table .centered button:hover {
    cursor: pointer;
    margin: 0px;
    padding: 2px 2px 1px 2px;
}

img {
    border: none;
}

.bubble b {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 3px;
}

.bubble .bubble-text {

}

.hidable .bubble-text {
    width: 250px;
}

.appendable .bubble-text {
    font-size: 15px;
}

#overlay {
    opacity: 1;
}

#overlay-content:after {
    margin-left: 328px;
}

#order-table tbody tr input{
    border: silver solid 1px
}