
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    .jScrollPaneContainer {
        overflow: scroll;
    }
    .jScrollPaneDrag {
        visibility: hidden;
    }
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .jScrollPaneContainer {
        overflow: scroll;
    }
    .jScrollPaneDrag {
        visibility: hidden;
    }
}


.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
}
.jScrollPaneDrag {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
    background: rgb(210,74,69);
	height:42px
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: green;;
	height:0px;
}
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: blue;
	height:0px;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}