@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext,latin);
@font-face {
    font-family: "calibri";
    src: url("calibri.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 1000px;
    margin: 0;
    background: url('../images/back.jpg') repeat;
    background-size: cover ;
    color: rgb(64,64,64);
}

#logo {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    height: 80px;
}

#head-contacts {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 25px;
    width: 220px;
    font-size: 1.05em;
}

#head-contacts img {
    float: left;
    margin-top: -8px;
}

.contact-line {
    display: block;
}

.contact-line:first-child{
    padding-top: 15px;
}

.contact-line:last-child{
    margin-right: -1px;
    font-size: 18px;
}

#nav {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    padding-top: 80px;
    display: block;
    text-align: center;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */
}

#nav .nav-item {
    color: rgb(64,64,64);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 9px;
    margin: 0 0px 7px 0px;
    min-width: 54px;
}

#nav .current {
    background: rgb(210,74,69);
    color: white;
}

#nav a:hover {
    color: white;
}

/* NAVIGATION LINKS COLORING */

#a-index:hover {
    background: rgb(210,74,69);
}

#a-egrul:hover {
    background: rgb(93,106,173);
}

#a-egrp:hover {
    background: rgb(93,175,97);
}

#a-bankgarant:hover {
    background: rgb(85,182,204);
}

#a-audit:hover {
    background: rgb(239,233,75);
}

#a-buhoutsource:hover {
    background: rgb(231,163,68);
}

#a-useful:hover {
    background: rgb(124,106,171);
}

#a-contacts:hover {
    background: rgb(210,74,69);
}

/*  MAIN CONTENT  */

#site-content {
    text-align: justify;
    display: block;
    min-height: 650px;
    width: 650px;
    padding: 0;
    margin: 25px auto;
    position: relative;
    background: white;
    border-radius: 50%;
    font-family: "Calibri", sans-serif;
    color: rgb(64,64,64);
}

#site-content article {
    color: rgb(64,64,64);
    width: 99%;
    margin: 0 8%;
    line-height: 1.15;
    display: block;
    font-size: 0.95em;
}

#site-content p {
    width: 85%;
    display: inline-block;
    margin: 8px 0;
}

#site-content p:first-child {
    margin-top: 170px;
    margin-bottom: 10px;
}

#site-content strong {
    width: 80%;
    display: block;
    margin: 0px 0 5px 0;
    text-align: center;
    font-size: 1.2em;
}

#site-content ul li:first-letter {
    text-transform: uppercase;
}

#site-content table {
    width: 100%;
    font-size: 0.9em;
    text-align: left;
    border-collapse: collapse;
    font-weight: bold;
}

#site-content table thead {
    background: #4c4c4c;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#site-content table thead tr td {
    border: none;
}

#site-content table thead tr td {
    padding: 3px;
    border: none;
}

#price-table tbody tr:nth-child(odd) {
    background: #e8e6e6;
}

#site-content table tr td span {
    display: block;
}

#site-content table tr td button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(64,64,64);
}

#site-content table tr td button:hover {
    cursor: pointer;
}

#price-table button:hover {
    font-size: 1em;
    padding: 0;
    margin: 3px 0 3px 0;
}

#site-content table .first {
    padding-left: 8px;
}

#site-content table .centered {
    text-align: center;
    font-weight: normal;
    width: 80px;
}

#site-content table tfoot {
    background: #eaeaea;
    font-weight: normal;
}

#site-content table tfoot tr td {
    padding: 8px;
}

#order-table tbody tr:nth-child(odd) {
    background: #e8e6e6;

}

#order-table tbody tr td {
    padding: 5px;
}

#order-table tbody tr input {
    border: none;
    width: 99%;
    background: none;
}

.whitespace {
    width: 5%;
    background: white;
}

#selectedTypeTR {
    text-transform: uppercase;
    color: rgb(210,74,69);
}

#order-table tbody tr td button.docType, .objType {
    min-width: 21%;
    padding: 4px 6px;
}


#order-table button.o-selected {
    background: rgb(210,74,69);
    color: white;
}

button:focus {
    outline:0;
}

#order-table tbody tr td button.selected {
    color: white;
}

#count {
    max-width: 20px;
    color: rgb(210,74,69);
    padding-left: 8px;
    font-weight: bold;
}

#site-content table tr td span#price {
    color: rgb(210,74,69);
    display: inline;
}

/* ORDERING */

#ordering {
    display: block;
    position: absolute;
    width: 70%;
    margin: 250px 15% 0 15%;
}

#back {
    background: url("../images/arrow-left.png") no-repeat;
    width: 75px;
    height: 45px;
    margin-top: -68px;
    margin-bottom: 25px;
    margin-left: 142px;
    position: relative;
    display: inline-block;
    font-size: 0.85em;
    padding-top: 17px;
    padding-right: 9px;
    text-align: right;
}

#send {
    background: url("../images/arrow-right.png") no-repeat;
    width: 75px;
    height: 45px;
    margin-top: 42px;
    margin-left: 230px;
    position: relative;
    display: inline-block;
    font-size: 0.85em;
    padding-top: 17px;
    padding-left: 9px;
    text-align: left;
}

#back:hover, #send:hover {
    cursor: pointer;
    color: white;
}

.scroll-wrap{width: 70%;margin:110px auto 0 auto}
.scroll-pane{width:100%;height:430px;padding:0 0 0 10px;overflow:auto}

/* BUBBLES :) */

.bubble {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    position: absolute;
    font-family: 'calibri', sans-serif;
    color: white;
    font-size: 1.1em;
    z-index: 10;
}

.red-bubble {
    top: 230px;
    left: 7%;
    background: rgb(210,74,69);
}

.orange-bubble {
    top: 530px;
    left: 5%;
    background: rgb(231,163,68);
}

.blue-bubble {
    top: 230px;
    right: 5%;
    background: rgb(93,106,173)
}

.green-bubble {
    top: 530px;
    right: 9%;
    background: rgb(93,175,97)
}

.bubble p {

}

.bubble-text {
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    width: 250px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: justify;

}

.hidable .bubble-text {
    text-align: center;
}

.bubble b {
    display: block;
    text-transform: uppercase;
    margin-top: 3px;
}

.bubble .more {
    display: block;
    text-align: right;
    text-decoration: none;
    margin-top: -77px;
    font-weight: bold;
    width: 85%;
    color: rgb(64,64,64);
}

.bubble .more:hover {
    cursor: pointer;
    font-size: 1.15em;
}

#informburo {
    position: fixed;
    right: 0;
    top: 61%;
    width: 34px;
    z-index: 101;
}

#informburo:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    display: block;
    min-height: 110px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */

}

footer b {
    color: white;
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin: 42px auto 0 auto;
    font-size: 20px;
    font-weight: bold;
    clear: both;
    width: 100%;
}

#social {
    clear: both;
    position: relative;
    display: block;
    text-align: right;
    margin-right: 15px;
    padding-bottom: 3px;
}

#social a {
    display: inline-block;
}

#social a img {
    width: 35px;
}


/* OVERLAY */

#overlay {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 100;
    text-align: center;
    background: url('../images/opac60b.png') repeat;
}

#overlay-content {
    padding: 7px 7px 14px 7px;
    background: white;
    width: 500px;
    margin: 120px auto;
    display: block;
    font-family: "PT Sans", "sans-serif";
    text-transform: uppercase;
    border-radius: 28px 28px 0 28px;
    text-shadow: 0 1px 1px silver;
}

#overlay-content:after {
    content: " ";
    display: inline-block;
    background: url('../images/tail.png') no-repeat;
    width: 194px;
    height: 118px;
    position: absolute;
    margin-top: 14px;
    margin-left: 78px;
}

#closeOverlayButton {
    float: right;
    margin: 8px;
    display: block;
}

#closeOverlayButton:hover{
    cursor: pointer;
}

#overlay-content h2 {
    clear: both;
    margin: 0;
    font-size: 1.2em;
    color: rgb(217,34,38);
}

#overlay-content h2:last-child{
    margin-bottom: 25px;
}

#mouth {
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 45%;
}

#msgbox {
    position: absolute;
    background: #ffffff;
    display: inline-block;
    padding: 1%;
    box-shadow: 0 1px 80px black;
    text-align: center;
    z-index: 999;
    width: 30%;
    margin: 17% 34%;
    font-size: 1.2em;
    font-family: "PT Sans";
}

#closeMsgbox {
    font-family: "PT Sans";
    font-size: 1em;
}

/* MEDIA  */
@media screen and (max-width: 1024px){
    #logo {
        height: 60px;
    }
    #nav .nav-item  {
        font-size: 0.8em;
        margin: 5px 8px 8px 8px;
        min-width: 54px;
    }
}

/*  small screens  */
@media screen and (min-width: 1280px){
    #nav .nav-item {
        min-width: 64px;
        margin: 0 15px 6px 15px;
    }
    #logo  {
        height: 70px;
    }
    .red-bubble {
        top: 250px;
        left: 7%;
    }

    .orange-bubble {
        top: 550px;
        left: 3%;
    }

    .blue-bubble {
        top: 190px;
        right: 4%;
    }

    .green-bubble {
        top: 530px;
        right: 11%;
    }
}

@media screen and (min-width: 1300px) and (min-height: 800px){
    #nav .nav-item  {
        font-size: 0.9em;
        margin: 5px 15px 8px 15px;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}

/* HD & FULL HD */
/* HD */
@media screen and (min-width: 1480px){
    body {
        background: url('../images/back-XXL.jpg');
        background-size: cover;
    }

    #nav .nav-item  {
        margin: 0px 30px 8px 30px;
    }

    .red-bubble {
        top: 210px;
        left: 15%;
    }

    .orange-bubble {
        top: 530px;
        left: 10%;
    }

    .blue-bubble {
        top: 170px;
        right: 13%;
    }

    .green-bubble {
        top: 500px;
        right: 17%;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}

/* FULL HD */
@media screen and (min-width: 1920px){
    body {
        background: url('../images/back-XXL.jpg');
        background-size: cover;
    }

    #logo {
        height: 85px;
    }

    #site-content {
        margin-top: 55px;
    }

    #nav .nav-item  {
        margin: 0px 50px 8px 50px;
    }

    .red-bubble {
        top: 280px;
        left: 20.5%;
    }

    .orange-bubble {
        top: 590px;
        left: 18%;
    }

    .blue-bubble {
        top: 280px;
        right: 17%;
    }

    .green-bubble {
        top: 590px;
        right: 24%;
    }

    #overlay-content {
        margin: 210px auto;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}


/* iPad */
@media screen and (device-width: 768px) and (device-height: 1024px)  {
    body {
        min-height: 768px;
    }
    #nav .nav-item  {
        font-size: 0.9em;
        margin: 25px 3px 8px 3px;
    }

    #head-contacts {
        top: 35px;
        width: 220px;
    }

    #site-content {
        width: 750px;
        height: 750px;

    }

    #site-content p:first-child {
        margin-top: 160px;
    }
}

/* iPad portrait */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    #site-content {
        margin-top: 85px;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .bubble {
        width: 230px;
        height: 230px;
        font-size: 0.95em;
    }
    .bubble p {

    }

    .red-bubble {
        top: 170px;
        left: 1%;
    }

    .orange-bubble {
        top: 830px;
        left: 2%;
    }

    .blue-bubble {
        top: 170px;
        right: 1%;
    }

    .green-bubble {
        top: 830px;
        right: 7%;
    }

}

/* iPad landscape */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

    #logo {
        height: 80px;
    }

    .bubble {
        width: 190px;
        height: 190px;
        font-size: 0.8em;
    }
    .bubble p {

    }

    .red-bubble {
        top: 160px;
        left: 1%;
    }

    .orange-bubble {
        top: 730px;
        left: 3%;
    }

    .blue-bubble {
        top: 170px;
        right: 1%;
    }

    .green-bubble {
        top: 690px;
        right: 1%;
    }
}

/* IE 11 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #site-content {
        font-size: 0.95em;
    }

    #site-content table .centered button {
        margin: 0;
        padding: 3px 2px 2px 2px;
    }

    #site-content table .centered button:hover {
        cursor: pointer;
        margin: 0px;
        padding: 2px 2px 1px 2px;
    }

    img {
        border: none;
    }

    .bubble b {
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 3px;
    }

    .hidable .bubble-text {
        width: 250px;
    }

    .appendable .bubble-text {
        font-size: 13px;
    }
    #overlay-content:after {
        margin-top: 13px;
        margin-left: 327px;
    }
}