@CHARSET "UTF-8";

body {
    font-family: 'Philosopher', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
	text-align: left; 
    cursor: default;
    background: black;
    }

#site-text {
    min-width: 1200px;
    width: 1200px;
    margin: 0px auto; 
    top: 25px;
    position: relative; 
    z-index: 9;
    display: block;
    padding: 0;
    background: url(../img/sitetextback.jpg) repeat;
    background-position: right bottom;
    box-shadow: 0 0 50px rgba(0,0,0,0.66);
    border-radius: 8px 5px 0 0;
    overflow: visible;
    clear: both;
    }

.top-images {
    background: rgb(64,150,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(64,150,238,1) 0%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,150,238,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    height: 3px; 
    width: 100%; 
    display: block;
    border-top: #004080 solid 1px;
}

#head {
    width: 1400px; 
    width: 100%; 	
    position: relative;
    background-position: center top;
    z-index: 10;
    text-align: center;
    }

.logo {
    float: left; 
    padding: 15px; 
    width: 271px;
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
    }


   
.text {
    display: inline-block; 
    top: 150px;
    padding: 25px; 
    position: absolute; 
    width: 400px; 
    background: url(../img/opac75w.png) repeat; 
    float: left;
    }    
    
.text:hover { text-shadow: 0 0 3px gray }  
    
.slides {
    display: block;  
    position: relative;
    width: 1200px; 
    height: 320px; 
    background: url(../img/slide1.jpg) no-repeat; 
    }
    
    
#line {
    width: 100%; 
    height: 50px; 
    background: url(../img/textbox.jpg) repeat-x; 
    position: relative; 
    z-index: 1; 
    margin-top: -30px;
    top: -40px;
    }

#vert {
    width: 300px; 
    height: 936px; 
    background: url('../img/vertikales.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #d9d9d9; 
    position: relative; 
    display: inline-block; 
    clear: left;
    float: left;
    border-right: gray solid 1px;
    text-align: center;
    }

.links {float: left; width: 899px; position: relative; margin-top: -10px; left: 10px; }

.links-body {box-shadow: 0 2px 5px black; float: right; background: white;  }

.skype, .icq { float: right; padding: 8px 12px 8px 5px;  font-size: 1.2em; }

.skype img, .icq img {position: relative; margin: 0px 10px -8px 0;}

.skype:hover, .icq:hover {background: silver; text-shadow: 0 1px 1px white}


.form {width: 300px; height: 55px; background: #FFFFD2; position: absolute; z-index: 100; display: block; overflow: hidden;}
.form .head:hover {color: #71B8FF; cursor: pointer;}

.showed {
    box-shadow: 0 0 15px black; 
    border-radius: 3px;
    text-align: center; 
    padding: 15px;
    z-index: 100;
    text-shadow: 0 1px 1px white;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

    }
.form hr {border-top: white solid 1px;}    

.cancel {
    font-family: arial;
    font-size: 12px;
    position: relative; 
    border-radius: 30px; 
    color: white; 
    padding: 3px 7px; 
    float: right; 
    background: gray; 
    border: white solid 1px; 
    margin: -12px -12px 0 0;
    }
    
.cancel:hover {background: #930000;}  

#spec {background: none; width: 100%;  position: relative; margin: 70px 0 0 0; font-size: 0.9em;}

.item {
    display: inline-block; 
    background: #F2F2F2; 
    clear: both; 
    padding: 10px 0; 
    position: relative; 
    z-index: 100; 
    width: 270px; 
    height: auto;
    margin: 3px auto; box-shadow: 0 0 5px gray;}
    
.item .close {display: none; width: 50px;}   
.item:hover {box-shadow: 0 0 10px black; cursor: pointer;}

.item_showed {
    width: 600px; 
    height: auto;     
    display: inline-block; 
    background: #F2F2F2; 
    clear: both; 
    padding: 0px 0 10px 0; 
    position: absolute; 
    z-index: 100; 
    left: 300px;
    top: -10px;
    margin: 3px auto; box-shadow: 0 0 15px black;}
    
.item_showed .opis  {background: white; border: 1px solid #EEEEEE; font-size: 1.3em; padding: 15px 15px 30px 15px;}
.item_showed .close {margin: 5px ; padding: 3px 5px;  background: #FFCECE; }
.item_showed .close:hover {background: #FF6666; color: white; cursor: pointer;}
.item_showed .opis .item_img { display: block; margin: 10px auto; position: relative; width: 450px !important; height: auto!important; }
    
#spec .item_img {width: 135px; border-radius: 5px}
.item .opis {background: white;  text-align: center; max-width: 220px; margin: 0 auto; padding: 5px 15px; border: 1px solid #EBEBEB;}

#sub  {font-family: 'Philosopher', sans-serif; font-size: 16px; background: #006CD9; color: white; border: silver solid 1px; padding: 5px 19px; border-radius: 20px}
#sub:hover {background: blue; cursor: pointer}  
#contacts {
    width: 898px; 
    height: 528px; 
    float: left; 
    background: url(../img/town.jpg) no-repeat; 
    background-position: 0px 300px ;
    }

#contact {
    width: 315px; 
    height: 270px; 
    background: none; 
    float: left; 
    position: relative; 
    margin: 20px 0 0 40px; 
    }

.head {font-size: 1.5em; display: block; background: none; color: #0054A8;}
.addres {display: block; background: none; margin: 25px 0 10px 0;}
.addres a {display: block; color: #0080FF;}
.phone {font-size: 2.4em; padding: 5px 0; margin: 5px 0 5px 0; position: relative; border-bottom: silver solid 1px; border-top: silver solid 1px; display: block;}
.mail {margin: 5px 0 8px 0; font-size: 1.2em; color: #0080FF; position: relative; padding: 10px 0; display: block;}

#textbox {

float: right;
    width: 830px; 
    height: 320px;
    display: block;
    position: relative;
    padding: 15px 25px 15px 30px; 
    font-size: 0.9em; 
    text-align: left; 
    color: black;
    line-height: 1.5;
    border-radius: 1px;
    border:black solid 1px ;
    border-radius: 5px 0 5px 5px;
    margin-right: -22px;
    text-shadow: 0 1px 1px white;
    background: url('../img/tbox.jpg') no-repeat;
    background-position: right bottom;
    background-color: #fefeff;

    }

#textbox:after {
content: ' ';
position: absolute;
width: 0;
height: 0;
bottom: 100%;
left: 100%;
margin-left: -21px;
border-width: 6px 11px;
border-style: solid;
border-color:    transparent transparent #54310c  #54310c ;
}

.company_text {
    width: 350px;   
    height: 380px;  
    font-size: 0.9em; 
    margin: -49px 0 0 -65px; 
    padding: 27px 55px 20px 80px; 
    text-shadow: 0 1px 1px white; 
    position: absolute; 
    float: left;
    top: 0; 
    background: url('../img/textbox.png') no-repeat;
    } 

a.thref {
    color: #0060BF; 
    margin: 15px 10px 5px 0px; 
    padding: 6px 14px;
    display: inline-block;
    border: #2A2A2A solid 1px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 1px black;
background: rgb(158,158,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(158,158,158,1) 0%, rgba(117,117,117,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,158,158,1)), color-stop(100%,rgba(117,117,117,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(158,158,158,1) 0%,rgba(117,117,117,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(158,158,158,1) 0%,rgba(117,117,117,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(158,158,158,1) 0%,rgba(117,117,117,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(158,158,158,1) 0%,rgba(117,117,117,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#757575',GradientType=0 ); /* IE6-9 */

    
    }
a.thref:hover {
    cursor:  pointer;
    background: rgb(64,150,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(64,150,238,1) 0%, rgba(54,96,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,150,238,1)), color-stop(100%,rgba(54,96,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(54,96,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(54,96,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(54,96,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(64,150,238,1) 0%,rgba(54,96,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#3660f7',GradientType=0 ); /* IE6-9 */

    }

#footbox { width: 100%; display: block; min-width: 1200px;}

#footer { 
    color:white; 
    text-align: center; 
    padding: 15px 0 0 0;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1200px; 
    background: url(../img/bg_tile.jpg) repeat; 
    position: relative; 
    z-index: 100;
    }
#footer a {font-size: 13px; color: white; text-decoration: none; display: inline-block; position: relative; margin: 10px auto;}
#footer a:hover {color: white; text-shadow: 0 0 30px white;} 



