* { font-family: 'PT Sans Caption', sans-serif; }
body {
    background: url(../img/_back.jpg) no-repeat;
    background-size: 100%;
    background-position: top center;
    background-attachment: fixed;
}

h1 {font-size: 3.6em; margin: 2.6em 0 0 0; line-height: 1; padding: 4px;}
h1 { padding: 0 0.3em; border-radius: 4px}
h2#little_heading { margin-bottom: 2.5em; margin-top: 0.4em; padding: 4px 8px;}

#promo h1, #promo h2 {text-shadow: 0 1px 16px black; color: white}

html,body,header {min-width: 768px;}

#welcome {
    background: url(../img/_back.jpg) no-repeat;
    background-size: 100%;
    background-position: top center;
    background-attachment: fixed;
    padding: 2% 0;
}

#content {background: white}
input, select {font-size: 1.2em; max-width: 90%; padding: 6px 1em; border: silver solid 1px; border-radius: 24px; box-shadow: 0 1px 3px rgba(0,0,0,0.8); margin: 4px 0}
select {font-size: 0.9em}
input:focus, button:focus, select:hover {outline: none; }
input[type='text,tel'] {}
.button {
    border: orange solid 1px;
    color: white;
    font-weight: bold;
    padding: 6px 18px;
    font-size: 1em;
    border-radius: 24px;
    background: darkorange;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 1px 1px black;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.button:hover {background: orange;color: white;cursor: pointer;}
.button:active {background: darkorange;outline: none;}

.form {width: 300px; padding: 0.4em 1em; box-shadow: 0 1px 8px rgba(0,0,0,0.43);background: #505b65; border:black solid 1px; color: white}
.form .button {margin: 0.6em auto;font-size: 1.1em}
.form input {font-size: 0.9em}
.form h3 {margin: 0.6em 0}

.inline-form {box-shadow: 0 1px 4px rgba(0,0,0,0.55); margin: 1em 0; padding: 1em 0 0.5em 0;background: #505b65;color: white;border:black solid 1px;}
.inline-form input {padding: 4px 16px; margin: 0 0.4em 0 0}
.inline-form h2 {padding: 0;color: orange; margin-bottom: 0.2em}
.inline-form h3 {max-width: 780px; margin: 0 auto 0.5em auto}
.inline-form button {font-size: 1.1em}

.call select option {font-size: 3em}

.floating {position: fixed; z-index: 10; top: 10%; }
.closeForm {position: absolute; margin-top: -45px; margin-left: 160px;transition: all 0.3s ease;-webkit-transition: all 0.3s ease;}
.closeForm:hover {cursor: pointer; opacity: 0.33}
#overlay {background: rgba(255,255,255,0.89); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10}

.countdown {position: relative; margin: 1em 0}
.callbackform input {font-size: 1em}
.callbackform select option {font-size: 0.6em}
#map_wrapper .form {width: 240px; text-align: center}

header {background: #505b65;padding: 0.5em 0;border-bottom: orange dotted 1px; position: fixed; top: 0; width: 100%; z-index: 5; margin-bottom: 0px; color: white; padding-bottom: 1.3em;transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
header h3 {font-size: 2.3em; padding-top: 14px;text-shadow: 0 1px 1px black;}
header #shadow {position: absolute; top: 0; margin: 0 25%; width: 50%;z-index: -1}

header.collapsed {padding-bottom: 0.9em}
header.collapsed h3 { font-size: 1.9em}
header.collapsed .button { font-size: 0.9em}
header.collapsed #logo img {width: 120px}

#monitor {
    background: url('../img/monitor.png') no-repeat;
    background-size: cover;
    height: 381px;
    padding: 7px 0 0 0;
    position: relative;
    margin-top: -40px;
}

#video_controller .item {display: block; min-height: 80px; font-size: 0.7em; float: left; width: 15%; padding-top: 1%; margin: 1% 0.5%; border-right: silver solid 1px}
#video_controller .item:hover, #video_controller .item.current {cursor: pointer; font-weight: bold}
#products {background: url('../img/whitefauxleather.jpg') repeat;background-size: 20%; padding-bottom: 3em}
#products h2 {font-size: 3em}
#catalog .item {margin: 1% 2%; width: 28%; float: left; display: inline-block; background: rgba(255,255,255,0.8);min-height: 320px; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
#catalog .item img {max-height: 120px}
#catalog .item:hover {background: white; box-shadow: 0 1px 10px rgba(0,0,0,0.33)}
#catalog .item h3 {font-size: 0.9em; width: 80%; margin: 3% 10%; min-height: 76px}
#catalog .item .price {color: #505b65; margin-bottom: 1em}
#examples .item {margin: 1%; width: 18%; float: left; display: inline-block}
#logo, header .button {margin-top: 6px}
#logo small {display: block;font-size: 0.66em}
footer {background: #6476a5; min-height: 90px; color: white; padding: 1em 0}

h2 {padding: 0.5em 0; font-size: 2em}
#about {
    display: block;
    padding: 4% 7%;
    margin: 0;
    margin-bottom: 1.5em;
    border: gray dotted 2px;
    font-size: 1em;
    width: 88%;
    text-align: center;
    color: white;
    background: #505b65;
    border-radius: 12px;
    box-shadow: 0 2px 20px black;
}

#social {background: rgba(0,0,0,0.06); border-bottom: dotted gray 2px; padding-bottom: 8px;}
#social span {
    padding: 8px 8px 0 0;
    display: inline-block;
    float: left;
    position: relative;
    margin-top: 13px;}

#examples {background: rgba(0,0,0,0.05); border-radius: 4px; padding: 0.5em 0 2.2em 0}

#advantages {margin-top: 2em; background: rgba(255,255,255,0.95); padding: 1em 0 2em 0}
#advantages h2 {margin-bottom: 1.1em}
#advantages img {border-radius: 50%; width: 50%; margin: 0 auto; display: inline-block; box-shadow: 0 1px 3px rgba(0,0,0,0.73)}
#advantages .box33p {text-align: center}
#advantages .box33p h4 {margin-top: 1em}
#advantages .box33p p {width: 80%; margin: 5% 10%; font-size: 0.8em}

#testimonials {min-height: 100px; width: 92%; margin-left: 4%; margin-bottom: 2.5em; margin-top:3em; font-size: 0.9em}
.testimonial {display: none}
.testimonial.current {display: block; text-align: center}
#testimonials-prev {margin-right: 5%}
#map_wrapper {position: relative; min-height: 400px;}
#map { position: absolute; top: 0px; left: 0px; z-index: 1; min-height: 400px; width: 100% }

.response {
    font-size: 1.2em;
    color: orange;
    font-weight: bold;
    line-height: 1.44;
}