  #text {
    padding: 10px 0 0 0;
    margin-left: -10px;
    margin-top: -360px;
    font-size: 13px; 
    text-align: center; 
    display: inline-block;
    float: left; 
    position: relative; 
    left: 0; 
    z-index: 5; 
    box-shadow: 0 2px 10px black;
    border-radius: 4px;
    text-shadow: 0 1px 1px white;
    background: url(images/back.jpg) repeat;} 

.tile {
    margin: 4px auto 1px auto;
    padding: 6px 23px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border-radius: 18px;
    background: rgb(249,198,103); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 4px black;
    }
    
#text .text {
    margin: 15px 0px; padding: 9px 10px; 
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */
}
    
#road {
    display: inline-block;
    background: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 710px;
  }
  

  #map {
    width: 755px; 
    position: relative; 
    margin-left: -25px; 
    height: 370px; 
    z-index: 2; 
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    }

#road a {text-decoration: none;     font-size: 12px; font-weight: normal;}

#road a:hover {text-decoration: underline;}

#doc {
    font-size: 18px;
    padding-top: 0;
    }
    
#hours {
    margin: 20px auto 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    clear: both;
}

#hours p {    
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    }