#doc img.foton {
    float: right;
    margin: 0px 0px 0px 10px;
}    
    
#doc img.gw {
   float: left;
   margin: 0px 0px 0px -26px;
   padding: 0;
}     
    

    
#bottomtxt {
    font-size: 14px;
    margin: 40px 0 0 0;
    background: none;
    font-weight: normal;
    width: 800px;

    }
    
#bottomtxt b {
    font-size: 18px;
    color: #1E1E1E;
    margin: 5px 0 0 5px;}
    
#doc li {
    font-size: 13px;
    font-weight: normal;
    width: 330px;
    padding: 10px 0 0 0;
    position: relative;
    z-index: 1;
    margin: 0 0 0 50px;
    } 
   
#features {
    }

.phone {    color: #1E1E1E; display: block;     font-size: 18px; margin: 0; font-weight: bold;}