@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);

html {
    padding: 0px;
    background: url(images/back.jpg) repeat;
      }
     
body {
    cursor: default; 
    padding: 0;
    margin: 0 auto;
    background-position: center top;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 989px;
    }

#headline {
    width: 100%;
    height: 5px;
    background: orange;
    box-shadow: 0 1px 4px black;
    margin: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    } 

#container {
    width: 989px;
    height: 100%;
    margin: 0 auto;
    background: none;
}

#content {
    position: relative;
    width:  1020px;
    background: none;
    margin: 0px auto;
}   

#head {
    position: relative;
    left: -10px;
    margin: 0px 0 0px 10px;
    display: block;
    width: 990px;  
}

.logo {
    background: none; 
    float: left; 
    left: -35px; 
    position: absolute; 
    border-radius: 0 0 10px 10px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.81) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.81))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.81) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.81) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.81) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.81) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#cfffffff',GradientType=0 ); /* IE6-9 */

    }

.logo img {width:  230px; float: left;  z-index: 10; margin: 15px}

#onhead {position: relative; margin-top: -30px; top: 20px; left: 180px; opacity: 0; }

#menu {
    position: relative;
    display: block;
    width: 989px;
    height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 4px;
    background: rgb(0,0,28); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,28,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,28,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,28,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,28,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,28,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00001c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#menu a {
    display: inline-block; 
    background: none;
    color: white;
    font-size: 14px ;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 0;
    margin: 15px 0 0 25px;
    position: relative;
    }
    
#menu a.current { 
	cursor: default; 
	color: orange;
	 }
#menu a.current:hover {}
    
#menu a:hover {
    color: orange ;
    }   
    
#doc {
    margin: 10px 0 0 0;
    padding: 10px 10px 50px 25px;
    width: 720px; 
    font-size: 14px;
    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 50%, rgba(244,244,244,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(249,249,249,1)), color-stop(51%,rgba(244,244,244,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 50%,rgba(244,244,244,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 50%,rgba(244,244,244,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 50%,rgba(244,244,244,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 50%,rgba(244,244,244,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 2px 8px black;

   }
  
#doc h1 {line-height: 0.98; margin: 20px 0 0 0; padding: 0; text-transform: uppercase;}  
#doc h2 {margin: 5px 0 15px 0; padding: 0;}

#features {background:  #FFEBBF; float: left; margin: 20px  0 20px 0; padding: 15px 0 0 40px; width: 665px; font-size: 1.2em;} 

#sidebar {
    text-align: center;
    float: right;
    width: 280px;
    background: none;
}
 
#sidebar div.side_phone  {
    padding: 8px 0 8px 0;
    font-weight: bold;
    font-size: 16px;
    width: 220px;
    margin: 10px auto 20px auto;
    box-shadow: 0px 2px 8px black;
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

#sidebar div.side_phone p {
    padding: 0; 
    margin: 0; 
    font-size: 1.05em;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    }

#sidebar .sidebar-katalog {
    background: none; 
    display: inline-block; 
    box-shadow: 0px 2px 8px black;
    margin: 0 0 25px 0;
     }

#sidebar a.head {
    margin: 0 auto;
    padding: 4px 0 6px 0;
    display: block;
    width: 220px; 
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    background: rgb(255,168,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
 }

#sidebar a.head:hover {
    background: rgb(249,198,103); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */

    }

#sidebar a.item {
    
    margin: 0 auto;
    padding: 9px 0 7px 0;
    display: block;
    width: 220px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    text-shadow: 1px 1px 1px white;
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

#sidebar a.item span {
    margin: 0 20px 0 5px; 
    padding: 0 ; 
    border-right: black solid 1px; 
    float: left;
    width: 45px;
    text-align: center;
    display: inline-block;
    }


#sidebar a.item span img {
    position: relative;
    border: none;
    max-height: 20px;
    }

#sidebar a.item:hover {
    background: rgb(249,198,103); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */

    }

#sidebar a.foot {
    margin: 0 auto;
    padding: 10px 0 5px 0;
    display: block;
    width: 219px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    }
    
#sidebar a.foot:hover {
      color: black;
    }    

#about {
    width: 180px; 
    height: 40px; 
    background: url(images/book.png) no-repeat; 
    background-position: -10px 10px;
    background-color: white;
    display: block; 
    margin: 40px auto ;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 65px 5px 10px 5px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border-radius: 0px 3px 3px 0px;
    position: relative;
    left: -29px;
    z-index: 100;
    }
    
a.a_price {
	border: #003ab4 solid 1px;
	display: inline-block; 
    position: relative;
	color: white; 
	padding: 6px 14px;
    margin: 30px 38% 0 38%; 
    width: 24%;
    text-align: center;
    text-decoration: none; 
	font-size: 0.9em; 
	border-radius: 3px;
	text-transform: uppercase;
	background: #2c539e; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
	}    
	
a.a_price:hover {
    background: #4f85bb; /* Old browsers */
    background: -moz-linear-gradient(top,  #4f85bb 0%, #4f85bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
 }
    
#about:hover {    
    opacity: 1;
    filter: alpha(opacity=100);
    }    

#footer {
    float:left; 
    color: white; 
    font-size: 12px;
    padding: 0 0 15px 0; 
    text-align: center; width: 100%; position: relative; z-index:  -1;}