 @import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic-ext);
 
 @media only screen and (max-device-width: 1024px) { 
body { 
    background-color: #b9936f !important;
    min-height: 1400px  !important;
    opacity: 0;
    } 

}
 
        html {min-height: 800px; cursor: default}
        
        a {color: white; text-decoration: none;}
        
        body {
            
            font-family: 'Ubuntu Condensed', sans-serif;
            background: #b9936f ; 
            
            margin: 0;
            opacity: 0;
            }
        
        h1 {font-size: 1.5em;}
        
        #container { 
            height: 100%; 
            display: block; 
            min-width: 960px; 
            width: 100%; 
            max-width: 1360px; 
            margin: 0 auto; 
            min-height: 800px;
            font-size: 1em;
            }
        
        .left-side {
            width: 17%; 
            display: inline-block;
            float: left;
            margin: 0 0 0 1%;
            border-radius: 0px 0 0px 200px;
            min-height: 400px;
            padding-bottom: 200px;
            box-shadow: 0 0 15px black;
            border-left: white solid 4px;
            border-bottom: white solid 4px;
            background: -moz-linear-gradient(top,  rgba(135,38,2,0.93) 0%, rgba(127,27,2,0.83) 45%, rgba(119,31,0,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,38,2,0.93)), color-stop(45%,rgba(127,27,2,0.83)), color-stop(100%,rgba(119,31,0,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed872602', endColorstr='#b3771f00',GradientType=0 ); /* IE6-9 */

            }
            
        .left-side img {width: 80%; margin: 25% 11% 15% 9% ;}
        
        .left-side-a {display: block; padding: 3px 0; margin: 1px 0; background: maroon; color: white;};
            
        .left-side p {
            margin: 5% 8%; 
            text-align: center; 
            color: white; 
            text-shadow: 0 2px 2px black; 
            font-size: 0.9em;
            }
                  
        .akcii {
            width: 80%; 
            margin: 10%; 
            padding: 8px 0; 
            text-align: center; 
            font-style: italic;
            font-family: 'helvetica';
            font-weight: lighter;
            font-size: 1.2em; 
            color: white; 
            background: maroon;  
            display: block;
            text-shadow: 0 2px 12px black;
            box-shadow: 0 2px 10px black;
            border-radius: 2px;
            display: none;
            }
        
        /* TOP-MENU */

        .right-side {
            width: 80%; 
            margin: 0 ; 
            display: inline-block; 
            float: left;
            border-radius: 0px 0px 10px 0;
            background: -moz-linear-gradient(top,  rgba(135,38,2,0.93) 0%, rgba(127,27,2,0.83) 45%, rgba(119,31,0,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,38,2,0.93)), color-stop(45%,rgba(127,27,2,0.83)), color-stop(100%,rgba(119,31,0,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(135,38,2,0.93) 0%,rgba(127,27,2,0.83) 45%,rgba(119,31,0,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed872602', endColorstr='#b3771f00',GradientType=0 ); /* IE6-9 */
border-bottom: white solid 1px;
            }
 
        .top-menu {
            float: right;}    
            
        .top-menu a {
            display: inline-block;   
            margin: 0;
            padding: 2% 15px;
            text-transform: uppercase;
            font-size: 0.8em;
            text-shadow: 0 1px 2px black;
            }
            
        .top-menu a:hover {
            color: #FFFFE6; 
            background: url('http://www.zolotieruki.com/img/opac60r.png') repeat;

            }
        .top-menu a.current {background: url('img/opac60r.png') repeat; border-bottom: gold solid 1px  }  
            
        .top-menu a:last-child:hover { border-radius: 0 0 12px 0; }
        
        .top-menu a.current:last-child {background: url('img/opac60r.png') repeat; border-radius: 0 0 12px 0;}
        
        
        /* /////// */
        
        .footer {
        background: none; 
        width: 100%; 
        margin: 150px 0 0 0;
        text-align: center;
        padding: 0 0 25px 0;
        }
        
    .footer small {
        color: black; 
        font-weight: bold;
        text-shadow: 1px 0px 1px rgba(255,255,255,0.85); 
        margin: 5px 2%; 
        display: block;
        }
        
    .footer small a {
        padding: 2px 5px; 
        color: black; 
        background: url('img/opac60w.png')repeat;
        } 
        
    .footer small a:hover {background: white; }   
    
    .footer .logo {height:175px; margin: -80px 0 0 12px;}
    
    .counters {margin: 0 1% 1% 0; float: right; opacity: 0.6}