@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
    
    * { font-family: 'PT Sans', sans-serif; margin: 0; padding: 0;}
    
    .blue-line, .yellow-line { height: 4px; width: 100%; clear: both;}
    .blue-line {background: #006AD5; }
    .yellow-line {background: yellow; height: 3px}
    
     @media only screen and (max-device-width: 1024px) { 
body { 
    background: url('img/back-ipad.jpg') no-repeat !important; 
    background-color: #b0a39a !important;  
    padding: 0 5px;
    } 
 #menu li { margin: 0px; }
 
.box_skitter {position:relative;        
        max-height: 250px; 
        min-height: 150px;} 
 
 .box_skitter .container_skitter {height: 250px;}
 
 .box_skitter .image img {display:none; }
}
    
    body {
        cursor: default;  
        background: url('img/back.jpg') no-repeat;
        background-position: center top;
        background-color: #afa499;
        margin: 0 auto; 
        }
    
    #container {
        min-width: 1150px;
        max-width: 1200px;
        margin: -7px auto; 
        padding: 2px 0 0 0;
        background: url('img/opac60w.png') repeat; 
        box-shadow: 0 0 8px black}
      
 /* MENU */
 
 .menu_container {
    width: 95%;
    margin: 15px auto; 
    position: relative; 
    z-index: 200; 
    padding: 1px 3px 1px 1px; 
    background: #0065CA;
    border: black solid 1px;
    border-radius: 3px;
     }
#menu {
    margin:0px auto 0px auto;
    display: block;
    width: 100%;
    background: rgb(0,72,162); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,72,162,1) 0%, rgba(0,114,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,72,162,1)), color-stop(100%,rgba(0,114,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048a2', endColorstr='#0072ff',GradientType=0 ); /* IE6-9 */
    height: 40px;
    border: gray solid 1px;
    border-radius: 3px;
}

#copyright {
    margin:100px auto;
    width:80%;
    font:12px 'Trebuchet MS';
    color:#bbb;
    text-indent:20px;
    padding:40px 0 0 0;
}

#copyright a { color:#bbb; }
#copyright a:hover { color:#fff; }

    .heading {
        width: 100%; 
        height: 200px;
        padding:0;
        margin: 0 auto -40px auto;
        background: url('img/head-back.jpg') no-repeat; 
        background-position: top right;
        border-radius: 0 0 6px 6px;
        box-shadow: 0 1px 5px black;
        z-index: 3;
        position: relative;
         }

.head-logo img {margin: 5px 15px 8px 15px;}

.head-logo {margin: 1.5% 2.2%; display: inline-block; background: url('img/opac60w.png') repeat; border-radius: 4px; }

.head-contacts {  
    float: right; 
    margin: 0 2% ; 
    padding: 1.5%;
    font-size: 0.9em; 
    text-align: center;  
    color: white;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 1px 4px black inset;
    border-radius: 0 0 5px 5px;
    
background: rgb(47,93,168); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(47,93,168,1) 0%, rgba(38,60,137,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,93,168,1)), color-stop(100%,rgba(38,60,137,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(47,93,168,1) 0%,rgba(38,60,137,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(47,93,168,1) 0%,rgba(38,60,137,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(47,93,168,1) 0%,rgba(38,60,137,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(47,93,168,1) 0%,rgba(38,60,137,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5da8', endColorstr='#263c89',GradientType=0 ); /* IE6-9 */
    }
    
.head-contacts h2 {
    margin: 8% 0 0 0; 
    padding: 4% 0 0 0;
    font-weight: bold; 
    font-size: 1.35em; font-family: arial;
    border-top: white dotted 1px;
     }

.slides-outer {
    min-height: 330px; 
    margin: 0 3%; 
    padding: 2px;  
    min-width: 960px; 
    max-width: 94%; 
    box-shadow: 0 0 5px black;
    border-radius: 3px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

.box_skitter {

    width: 99.5%;
    min-height: 328px; 
    border-radius: 3px;
    display: block;
    border: gray solid 1px;
    margin: 0 auto;
    max-width: 1121px;
    }

.text {max-width: 1130px; min-width: 960px; min-height: 500px;  margin: 1% auto; }

.container-100 {width: 100%; margin: 0;  display: inline-block; float: left;}

.left-side, .right-side {
    width: 18%; 
    border-radius: 3px; 
    box-shadow: 0 1px 5px black; 
    margin: 0% 1% 4% 1%; 
    min-height: 450px; background: silver; float: left;}

.right-side {background: silver;  }

.center-side {width: 60%; background: #F7F7F7; float: left; min-height: 450px; border-radius: 3px; box-shadow: 0 1px 5px black;}

.footer {
    clear: both;
    width: 100%; 
    min-height: 105px; 
    background: rgb(0,72,162); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,72,162,1) 0%, rgba(0,114,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,72,162,1)), color-stop(100%,rgba(0,114,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048a2', endColorstr='#0072ff',GradientType=0 ); /* IE6-9 */
  }

.header {
    text-transform: uppercase; 
    font-size: 1.2em; 
    font-weight: bold; 
    background: url('img/line.png') no-repeat; 
    background-position: bottom left;
    margin: 0;
    padding: 5px 0 10px 0;
    height: 40px;
    }

.company-text {
    width: 25%; 
    text-align: left; 
    margin: 5px 15px 10px 5px; 
    padding: 10px 0 20px 0;
    display: inline-block; 
    float: left; 
    border: silver solid 1px;
    border-radius: 3px;
    box-shadow: 0 2px 5px black; 
    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    }

.company-text .header {margin: 0 15px;}
.company-text p {font-size: 0.85em; margin: 15px 20px; line-height: 1.4;}

.why {
    display: inline-block; 
    width: 80%;
    margin:  15px 5% 0px 7%; 
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    background: #0080FF;
    text-transform: uppercase;
    font-size: 0.8em;
    border-radius: 2px;
    background: rgb(64,150,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(64,150,238,1) 0%, rgba(66,105,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,150,238,1)), color-stop(100%,rgba(66,105,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(66,105,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(66,105,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(66,105,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(64,150,238,1) 0%,rgba(66,105,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4269f7',GradientType=0 ); /* IE6-9 */
   }
    
.why:hover {
background: rgb(82,158,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(82,158,234,1) 0%, rgba(31,38,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,158,234,1)), color-stop(100%,rgba(31,38,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(82,158,234,1) 0%,rgba(31,38,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(82,158,234,1) 0%,rgba(31,38,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(82,158,234,1) 0%,rgba(31,38,244,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(82,158,234,1) 0%,rgba(31,38,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#529eea', endColorstr='#1f26f4',GradientType=0 ); /* IE6-9 */
} 


/* SLIDES */   




/* SERVICES */

.services {
    width: 70%; 
    float: left; 
    margin: 6px 0 25px 0 ; 
    padding: 10px 1% 10px 1.5%; 
    border-radius: 3px;
    box-shadow: 0 2px 5px black; 
    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    
    
     }

.service-outer {
    width: 32%; 
    float: left; 
    height: 150px; 
    margin: 1% 0 0.49% 1%; 
    display: inline-block; 
    position: relative; 
    border:  gray solid 1px; 
    background: #FAFAFA;
    border-radius: 3px;
    box-shadow: 0 2px 5px gray ;

    }
.service {background: none; height: 146px;  margin: 1px; overflow: hidden; border: silver solid 1px; border-radius: 3px;}

.service:hover {border: white solid 1px;}

.service-head {
    margin: 1px;
    color: white; 
    text-transform: uppercase; 
    padding: 6px 12px; 
    max-height: 20px;
    font-size: 0.9em;
    background: rgb(0,72,162); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,72,162,1) 0%, rgba(0,114,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,72,162,1)), color-stop(100%,rgba(0,114,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,72,162,1) 0%,rgba(0,114,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048a2', endColorstr='#0072ff',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
    text-shadow: 0 1px 3px black;
    background: url('img/opac60b.png') repeat;
    }
    
.service-description {
    background: url('img/opac70b.png') repeat;
    color: white; 
    float: left; 
    margin: 0; 
    width: 94%; 
    min-height: 50px;
    padding: 6px 3% 0 3%; 
    display: block; 
    font-size: 0.8em; 
    position: relative; 
    top: 150px;  
    border-radius: 3px 3px 0 0 ;
    }
   
.service-description a {
    color: #FFFFDF; 
    text-decoration: none; 
    display: inline-block; 
    font-style: italic; 
    font-size: 0.85em; 
    margin: 3px 0 ;
    }
    
.service-description a:hover {text-decoration: underline;}

.gruzoperevozki {background: url('img/gruzoperevozki.jpg') no-repeat; width: 65.3%;}
.spectehnika {background: url('img/spectehnika.jpg') no-repeat; }
.remont {background: url('img/remont.jpg') no-repeat;}
.shinomontage {background: url('img/shinomontage.jpg') no-repeat;}
.uborochnaja  {background: url('img/uborochnaja.jpg') no-repeat;}
.dobavki {background: url('img/dobavki.jpg') no-repeat;}

.bottom-menu {
    width: 100%; 
    padding: 1% 0; 
    background: #2C2C2C; 
    display: block; 
    clear: both; 
    text-align: center;
    }
    
.bottom-menu a {color: white; text-decoration: none; padding: 3px 14px; font-size: 0.85em;}
.bottom-menu a:hover {background: white; color: black; border-radius: 2px; box-shadow: 0 2px 6px rgba(0,0,0,0.85) inset }





/*     ШАБЛОН ОБЩЕГО ТЕКСТА ДЛЯ ГРУЗОПЕРЕВОЗОК     */

.gruzoperevozki_template_text {
    display: block; 
    float: left; 
    padding: 25px 5% 40px 3%; 
    width: 70%; 
    margin: 0 1%; 
    background: white;
    }

.gruzoperevozki_template_text ul {margin: 15px 0;}
 
.gruzoperevozki_template_text ul li {margin-left: 45px;}


/*          ШАБЛОНЫ ИНФОРМАЦИОННЫХ БЛОКОВ            */


.article-main-text {
    width: 66%; 
    padding-left: 1%; 
    padding-right: 3%;
    padding-bottom: 40px;
    margin:  0;
    border-right: white solid 1px;
    display: inline-block;
    float: left;
    }
    
.article-main-text p {margin: 10px 0;}

.article-main-text ul {margin: 10px 0;}

.article-main-text ul li {
    margin-left: 35px; 
    line-height: 1.75;
    }

.article-main-text a {
    color: #004E9B; 
    font-weight: bold; 
    text-decoration: none; 
    text-shadow: 0 1px 1px rgba(255,255,255,0.67);
    padding: 0px 2px;
    border-radius: 2px;
    }

.article-main-text a:hover {background: #004E9B; color: white; text-shadow: 0 1px 1px rgba(0,0,0,0.67);}

.article-text {
    width: 60%; 
    padding-right: 2%;
    padding-top: 15px;
    margin-left: 1%;
    min-height: 285px; 
    float: left; 
    border-right: white solid 1px;
    }