@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);



body{
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

p {
    margin: 1.35em 0;
}

.mt-none {margin-top: 0}
.mb-none {margin-bottom: 0}

.mb-xlg {margin-bottom: 2em}
.mt-xlg {margin-top: 2em}

.mt-lg {margin-top: 1em}
.mb-lg {margin-bottom: 1em}

.mt-md {margin-top: 0.6em}
.mb-md {margin-bottom: 0.6em}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.projects .item {
    min-height: 80px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 1em;
    margin: 1em 0;
    background: white;
}
.img_remove {
    position: relative;
    display: inline-block;
}
.img_remove .overlay {
    position: absolute;
    opacity: 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease ;
    -ms-transition: all 0.2s ease ;
    -o-transition: all 0.2s ease ;
    transition: all 0.2s ease ;
}
.img_remove .overlay .fa {
    font-size: 3em;
    color: white;
}

.img_remove:hover .overlay {
    background: red;
    display: block;
    padding: 3em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    opacity: 0.75;
}

#projects_list .item a {
    min-height: 40px;
    display: block;
}